@font-face {
  font-family: "deathRoadFont";
  src: url(deathRoad.otf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "deathRoadFont";
  color: white;
}
body {
  height: 100vh;
  width: 100%;
  background-image: url(Images/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
canvas {
  background: transparent;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 5px 1px white;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #430c0c40;
  backdrop-filter: blur(5px);
  z-index: 5;
}
.modal,
.gameEnd {
  width: 50%;
  max-width: 500px;
  min-width: 285px;
  height: 45%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2% 5%;
  font-size: 1.3em;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: transparent;
  color: #121231;
  backdrop-filter: blur(25px);
  box-shadow: 0 0 5px 1px white;
  animation-name: modalAnimation;
  animation-duration: 1.5s;
  z-index: 10;
}
.modal h1,
.gameEnd h1 {
  font-size: 30px;
  letter-spacing: 6px;
}
.modal span,
.gameEnd span {
  color: #e32bce;
}
.startBtn,
.restartBtn {
  width: 150px;
  height: 35px;
  font-size: 20px;
  color: #ffffff;
  background: transparent;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0 0 5px 1px white;
  cursor: pointer;
  transition: 0.8s;
}
.startBtn:hover,
.restartBtn:hover {
  box-shadow: 0 0 5px 1px #1c1c4f;
  letter-spacing: 5px;
  color: #1c1c4f;
}
.requiredMessage {
  color: #ffffff;
  height: 30px;
  font-size: 18px;
  letter-spacing: 2px;
}
.gameMessage {
  font-size: 21px;
  letter-spacing: 5px;
  color: #bd2c4c;
}
.hidden {
  display: none;
}
.carPark {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.carBtn {
  width: 15%;
  rotate: 60deg;
  transition: 1s;
  cursor: pointer;
}
.activeCarBtn {
  rotate: 0deg;
}
.headerContainer {
  width: 500px;
  height: 50px;
  display: flex;
  box-shadow: 0 0 5px 1px white;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(20px);
  margin-bottom: 3px;
}
.collectedStars,
.timer,
.gameLives {
  width: 30%;
  text-align: center;
}
